<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="MyProvider" connectionString="sql=con" providerName="sqlkiller" />
	</connectionStrings>
	<appSettings>

		<add key="AppConfigValueBoolean" value="true" />
		<add key="AppConfigValueDateTime" value="6/22/2003" />
		<add key="AppConfigValueEnum" value="Unicode" />
		<add key="AppConfigValueTimeSpan" value="0:0:0" />
		<add key="AppConfigValueGuid" value="{00000000-0000-0000-0000-000000000000}" />
		<add key="AppConfigValueString" value="foobar" />
		<add key="AppConfigValueSByte" value="0" />
		<add key="AppConfigValueInt16" value="0" />
		<add key="AppConfigValueInt32" value="0" />
		<add key="AppConfigValueInt64" value="0" />
		<add key="AppConfigValueByte" value="0" />
		<add key="AppConfigValueUInt16" value="0" />
		<add key="AppConfigValueUInt32" value="0" />
		<add key="AppConfigValueUInt64" value="0" />
		<add key="AppConfigValueSingle" value="0" />
		<add key="AppConfigValueDouble" value="0" />
		<add key="AppConfigValueDecimal" value="0" />
		<add key="AppConfigValueChar" value="0" />


		<add key="BadAppConfigValueBoolean" value="x" />
		<add key="BadAppConfigValueDateTime" value="x" />
		<add key="BadAppConfigValueEnum" value="x" />
		<add key="BadAppConfigValueTimeSpan" value="x" />
		<add key="BadAppConfigValueGuid" value="x" />
		<add key="BadAppConfigValueString" value="x" />
		<add key="BadAppConfigValueSByte" value="x" />
		<add key="BadAppConfigValueInt16" value="x" />
		<add key="BadAppConfigValueInt32" value="x" />
		<add key="BadAppConfigValueInt64" value="x" />
		<add key="BadAppConfigValueByte" value="x" />
		<add key="BadAppConfigValueUInt16" value="x" />
		<add key="BadAppConfigValueUInt32" value="x" />
		<add key="BadAppConfigValueUInt64" value="x" />
		<add key="BadAppConfigValueSingle" value="x" />
		<add key="BadAppConfigValueDouble" value="x" />
		<add key="BadAppConfigValueDecimal" value="x" />
		<add key="BadAppConfigValueChar" value="" />

	</appSettings>

	<system.diagnostics>

		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
			</listeners>
		</trace>

	</system.diagnostics>


	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DebugBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="Max Behavior" />
			</endpointBehaviors>

		</behaviors>

		<services>
			<service behaviorConfiguration="DebugBehavior"
			         name="SwIsHw.Core.UnitTests.TestingInfrastructure.WCF_I_Know_Its_Not_A_Unit_Test.TestService">
				<endpoint address="net.tcp://localhost:9999/TestService" binding="netTcpBinding" bindingConfiguration=""
				          contract="SwIsHw.Core.UnitTests.TestingInfrastructure.WCF_I_Know_Its_Not_A_Unit_Test.ITestService" />
			</service>
		</services>

		<client>
			<endpoint name="" address="net.tcp://localhost:9999/TestService" behaviorConfiguration="Max Behavior"
			          binding="netTcpBinding" bindingConfiguration="Max Binding"
			          contract="SwIsHw.Core.UnitTests.TestingInfrastructure.WCF_I_Know_Its_Not_A_Unit_Test.ITestService" />
			<endpoint name="" address="net.tcp://localhost:9999/TestService" behaviorConfiguration="Max Behavior"
			          binding="netTcpBinding" bindingConfiguration="Max Binding"
			          contract="SwIsHw.Core.UnitTests.TestingInfrastructure.WCF_I_Know_Its_Not_A_Unit_Test.TestService" />
		</client>

		<bindings>
			<netTcpBinding>
				<binding name="Max Binding" maxReceivedMessageSize="2147483647" />
			</netTcpBinding>
		</bindings>

	</system.serviceModel>


</configuration>