<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="TextMetal.WebHostSample.Objects.Model::ConnectionString" connectionString="Data Source={0};FailIfMissing=True" providerName="System.Data.SQLite.SQLiteConnection, System.Data.SQLite" />
	</connectionStrings>
	<appSettings>
		<add key="TextMetal.WebHostSample.Objects.Model::UseDatabaseFile" value="true" />
		<add key="TextMetal.WebHostSample.Objects.Model::KillDatabaseFile" value="true" />
		<add key="TextMetal.WebHostSample.Objects.Model::DatabaseFileName" value="TextMetal.WebHostSample.Objects.Model.database" />
		<add key="TextMetal.WebHostSample.Objects.Model::DatabaseDirectoryPath" value="{0}" />
	</appSettings>
</configuration>