<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="TextMetal.WebHostSample.Objects.Model::ConnectionString" connectionString="Driver={SQL Server Native Client 11.0};Server=(local);UID=TextMetalWebHostSampleLogin;PWD=LrJGmP6UfW8TEp7x3wWhECUYULE6zzMcWQ03R6UxeB4xzVmnq5S4Lx0vApegZVH;Database=TextMetalWebHostSample" providerName="System.Data.Odbc.OdbcConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</connectionStrings>
	<appSettings>
		<add key="TextMetal.WebHostSample.Objects.Model::UseDatabaseFile" value="false" />
		<add key="TextMetal.WebHostSample.Objects.Model::KillDatabaseFile" value="false" />
		<add key="TextMetal.WebHostSample.Objects.Model::DatabaseFileName" value="" />
		<add key="TextMetal.WebHostSample.Objects.Model::DatabaseDirectoryPath" value="" />
	</appSettings>
</configuration>