<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="TextMetal.HostImpl.WindowsTool::HookUnhandledExceptionEvents" value="true" />
		<add key="TextMetal.HostImpl.WindowsTool::ShowSplashScreen" value="true" />
	</appSettings>
	<system.windows.forms jitDebugging="true" />
</configuration>