<?xml version="1.0"?>

<configuration>

	<configSections>
		<sectionGroup name="conversionConfig" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0">
			<section name="conversionSettings"
			         type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="projectAttributes"
			         type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="projectProperties"
			         type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="projectTypeGuids"
			         type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="projectAssemblyReferences"
			         type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<section name="projectTargetImports"
			         type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</sectionGroup>
	</configSections>

	<conversionConfig>

		<conversionSettings>
			<add key="RootWorkingCopyPath" value=".\export" />
			<add key="BackupFiles" value="false" />
			<add key="SupressFileHandlerExceptions" value="true" />
			<add key="VersionControlBindingAction" value="Leave" />

			<add key="ProjectRemoveRequiredTargetFrameworkNodes" value="true" />
			<add key="SolutionExternalVersion" value="2012" />
			<add key="SolutionInternalVersion" value="12.00" />
			<add key="SolutionStatePersistenceKeySccBinding" value="" />
			<add key="SccAuxPath" value="" />
			<add key="SccLocalPath" value="" />
			<add key="SccProvider" value="" />
			<add key="SccProjectName" value="" />
		</conversionSettings>

		<projectAttributes>
			<add key="DefaultTargets" value="Build" />
			<add key="ToolsVersion" value="4.0" />
		</projectAttributes>

		<projectProperties>
			<add key="ProductVersion" value="8.0.30703" />
			<add key="FileAlignment" value="512" />
			<add key="SchemaVersion" value="2.0" />
			<add key="TargetFrameworkProfile" value="" />
			<add key="TargetFrameworkVersion" value="v4.5" />
		</projectProperties>

		<projectTypeGuids>
			<!-- MVC 2.0 to 4.0 -->
			<add key="{F85E285D-A4E0-4152-9332-AB1D724D3325}" value="{E3E379DF-F4C6-4180-9B81-6769533ABE47}" />
		</projectTypeGuids>

		<projectAssemblyReferences>
			<add
key="Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
value="Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" />

			<!-- MVC 2.0 to 4.0 -->
			<add
key="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"
value="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
		</projectAssemblyReferences>

		<projectTargetImports>
			<add key="$(MSBuildExtensionsPath)\Microsoft\VisualStudio\v9.0\WebApplications\Microsoft.WebApplication.targets"
			     value="$(MSBuildExtensionsPath32)\Microsoft\VisualStudio\v10.0\WebApplications\Microsoft.WebApplication.targets" />
		</projectTargetImports>

	</conversionConfig>
</configuration>